body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/minecraft-background.jpg'); /* Path to your background image */
    background-size: cover; /* Adjust to cover the entire viewport */
    background-position: center; /* Center the background image */
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fallback color */
}


h1 {
    margin-bottom: 10px;
}

.score {
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0f0;
    border: aqua 2px solid;
}

.game-board {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0,0.3);
    border: aqua 4px solid;
}

.snake {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
}

.food {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
}
.scoreboard {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 400px;
    max-height: 400px;
    overflow-y: auto;
    position: fixed;
    top: 30%;
    right: 5%;
}

.scoreboard h2 {
    margin-bottom: 10px;
    
}

.scoreboard ul {
    list-style-type: none;
    padding: 0;
}

.scoreboard li {
    margin-bottom: 5px;
}

